<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes" xmlns:xml="http://www.w3.org/XML/1998/namespace"><Company>Baliance LLC</Company><LinksUpToDate>false</LinksUpToDate><Application>github.com/carmel/gooxml</Application><AppVersion>00.8000</AppVersion><DocSecurity>0</DocSecurity></Properties>
